<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../models/burger.js"></script>
</head>

<body>
	{{{ body }}}
	<div class="fixed-footer">
        <div class="container">Copyright &copy; 2021 Nicole Catapano</div>        
    </div>
</body>

</html>