<div class="container main">

  {{!-- Heading Area --}}
  <div class="fixed-header">
    <div class="container"></div>
    <h1>Burger Boss</h1>
  </div>

  {{!-- ADD BURGER FORM --}}
  <h2>Add a burger</h2>
  <div class="div add-burger">
    <form class="create-form">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <textarea id="burger" class="form-control" name="burger_name"></textarea>
      </div>
      <div class="form-row">
        <button class="btn btn-info" type="submit">Add Burger</button>
      </div>
    </form>
  </div>

  {{!-- Devoured Burgers List --}}
  <div class="burger-list">
    <div class="container">
      <div class="row">
        <h2>Newly Constructed Burgers</h2>

        <ul class="burgers">
          {{#each burger}}
          {{#unless devoured}}
          {{> burger-block}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>



    <div class="col">
      <div class="burger-col">
        <h2>Devoured Burgers!</h2>
        <ul class="burgers">
          {{#each burger}}
          {{#if devoured}}
          {{> burger-block}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>